body {
    background:url("../images/rainbow1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

h1, h4 {
    text-align:center;
    font-family: 'ZCOOL KuaiLe', cursive;
}
h2{
    width:500px;
}
#gifs, #bands{
background:#75d3f0;
 padding:10px;
 border-radius:10px;
 min-height:100vh;
}
.instructions{
 background:#75d3f0;
 padding:10px;
 border-radius:10px;
 margin:10px;
 text-align:center;
 font-size: 10px;
}

#gifs{
    overflow:hidden;
}
#addown{
    text-align:center;
}
#add{
    margin:10px;
}