body {
    background:url("../images/rainbow1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

h1 {
    text-align:center;
    font-family: 'ZCOOL KuaiLe', cursive;
}
h2{
    width:500px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.none-left{
    clear:left;
}
.col-lg-6{
    border:red solid 2px;
}
.instructions{
 background:#75d3f0;
 padding:10px;
 border-radius:10px;
 margin:10px;
 text-align:center;
 font-size: 10px;
}

#gifs{
    overflow:hidden;
}
#addown{
    text-align:center;
}
#add{
    margin:10px;
}